body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-color: midnightblue;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    flex: 1;    
}

h3 {
    flex: 1;
}

ul {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: flex-end;
}

li {
    padding-right: 20px;
}

.intro-card {
    color: whitesmoke;
    background-color: midnightblue;
    display: flex;
    min-height: fit-content;
    max-height: 400px;
    justify-content: center;
    gap: 50px;
}

.intro-card .text {
    max-width: 400px;
}

img {
    min-width: 200px;
    max-width: 300px;
    height: auto;
}

.contain {
    object-fit: contain;
}

.intro-card h1 {
    font-size: 48px;
    font-weight: 900;
}

button {
    color: whitesmoke;
    background-color: #3882f6;
    padding: 4px 20px;
    border-radius: 4px;
    border: none;
}

#bottom-signup {
    border: whitesmoke;
}